trigger:
- main

pool:
  name: Default   

variables:
  dockerRegistryServiceConnection: 'dockerhub-sc'
  imageRepository: 'kanishkasingh14/myapp'
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  tag: '$(Build.BuildId)'

steps:
- task: Docker@2
  displayName: Build and Push
  inputs:
    command: buildAndPush
    containerRegistry: $(dockerRegistryServiceConnection)
    repository: $(imageRepository)
    Dockerfile: $(dockerfilePath)
    tags: |
      $(tag)
      latest