trigger:
- main

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build Image
  jobs:
  - job: Build
    displayName: Build and Push
    pool:
      name: Default   # self-hosted Mac agent
    steps:
    - checkout: self

    - script: |
        docker buildx create --use --name mybuilder || true
        docker buildx inspect --bootstrap

        docker buildx build \
          --platform linux/amd64 \
          -t kanishkasingh14/myapp:$(tag) \
          -t kanishkasingh14/myapp:latest \
          --push .
      displayName: Build and Push using buildx