trigger:
- main

pool:
  name: Default   

variables:
  dockerRegistryServiceConnection: 'dockerhub-sc'
  imageRepository: 'kanishkasingh14/myapp'
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  tag: '$(Build.BuildId)'
  DOCKER_BUILDKIT: 1

steps:

- script: |
    docker version
    docker buildx version || true
    docker buildx create --use || true
    docker buildx inspect --bootstrap
  displayName: 'Initialize Docker Buildx'

- task: Docker@2
  displayName: Build and Push Docker Image
  inputs:
    command: buildAndPush
    containerRegistry: $(dockerRegistryServiceConnection)
    repository: $(imageRepository)
    Dockerfile: $(dockerfilePath)
    tags: |
      $(tag)
      latest